<div class="center jumbotron">
<h1>Newly Created Treatment Details</h1>
<p>
<strong>Medicines:</strong>
<%= @treatment.medicines %>
</p>
<p>
<strong>To Take For:</strong>
<%= @treatment.ttime %>
</p>
<p>
<strong>Date:</strong>
<%= @treatment.tdate %>
</p>
<p>
<strong>Next Visit Date:</strong>
<%= @treatment.nextvisit %>
</p>
<p>
<strong>Lab Report ID:</strong>
<%= @treatment.labreport_id %>
</p>
<p>
<strong>Doctor ID:</strong>
<%= @treatment.doctor_id %>
</p>
<p>
<strong>Patient ID:</strong>
<%= @treatment.patient_id %>
</p>
<br>
<br>
<a href="/treatments" class="buttonsmall buttonb">Back</a>
</div>
