<div class="center jumbotron">
<h1>Newly Created Doctor Details</h1>
<p>
<strong>Name:</strong>
<%= @doctor.dname %>
</p>
<p>
<strong>Gender:</strong>
<%= @doctor.dgender %>
</p>
<p>
<strong>Contact:</strong>
<%= @doctor.dcontact %>
</p>
<p>
<strong>Department:</strong>
<%= @doctor.ddept %>
</p>
<p>
<strong>Patient ID:</strong>
<%= @doctor.patient_id %>
</p>
<p>
<strong>Lab Report ID:</strong>
<%= @doctor.labreport_id %>
</p>

<br>
<br>
<a href="/doctors" class="buttonsmall buttonb">Back</a>

</div>
