<div class="center jumbotron">
<h1>Newly Created Lab Report Details</h1>
<p>
<strong>Date:</strong>
<%= @labreport.date %>
</p>
<p>
<strong>Reffered By:</strong>
<%= @labreport.lreffered %>
</p>
<p>
<strong>Report Date:</strong>
<%= @labreport.lreportdate %>
</p>
<p>
<strong>Report Issued By:</strong>
<%= @labreport.lissuedby %>
</p>
<p>
<strong>Remarks:</strong>
<%= @labreport.lrmarks %>
</p>
<br>
<br>
<a href="/labreports" class="buttonsmall buttonb">Back</a>

</div>
